name: Deploy to Render
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deployment
        run: |
          curl -X POST https://api.render.com/deploy/srv-d4atru9e2q1c73b8soug?key=QgtC-tYoFm4
          
